@font-face {
    font-family: "M39_SQUAREFUTURE";
    src: url("./M39_SQUAREFUTURE.TTF") format("truetype");
}
@font-face {
    font-family: "日本花园明朝体";
    src: url("./日本花园明朝体.ttf") format("truetype");
}